<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">

  <div class="col">

    <table class="table">

      <thead class="thead-dark">

      <th> Variable</th>
      <th> Pipe</th>
      <th> Salida</th>

      </thead>
      <tbody>

      <tr>
        <td> {{ name }} </td>
        <td> Pipe personalizada </td>
        <td> {{ name | capitalizado }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> uppercase</td>
        <td> {{ nombre | uppercase }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> lowercase</td>
        <td> {{ nombre | lowercase }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice:3</td>
        <td> {{ nombre | slice:3 }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice:0:3</td>
        <td> {{ nombre | slice:0:3 }} </td>
      </tr>
      <tr>
        <td> {{ array }} </td>
        <td> slice:1:4</td>
        <td> {{ array | slice:1:4 }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number entero</td>
        <td> {{ PI | number:'1.0-0' }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number 3 digitos</td>
        <td> {{ PI | number: '3.0-0' }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number 4 decimales</td>
        <td> {{ PI | number: '.0-4' }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number 3 digitos y 4 decimales</td>
        <td> {{ PI | number: '3.0-4' }} </td>
      </tr>
      <tr>
        <td> {{ porcent }} </td>
        <td> percent</td>
        <td> {{ porcent | percent }} </td>
      </tr>
      <tr>
        <td> {{ porcent }} </td>
        <td> percent 2 digitos, 2 decimales</td>
        <td> {{ porcent | percent: '2.2-2' }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> Currency</td>
        <td> {{ salario | currency }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> Currency moneda: Euro</td>
        <td> {{ salario | currency: 'EUR' }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> Currency personalizado</td>
        <td> {{ salario | currency: 'CP ': 'symbol-narrow': '.0-0' }} </td>
      </tr>
      <tr>
        <td> {{ promesa }} </td>
        <td> Async </td>
        <td> {{ promesa | async }} </td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> Date </td>
        <td> {{ fecha | date }} </td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> Date y hora </td>
        <td> {{ fecha | date: 'medium' }} </td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> Date corto y hora </td>
        <td> {{ fecha | date: 'short' }} </td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> Date custom </td>
        <td> {{ fecha | date: 'MMMM. dd. y' }} </td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td>
          Date por LOCALE_ID: {{ idioma }}
          <br>
<!--          <button (click)="cambiarZona('es')" class="btn btn-primary"> Español </button>-->
          <button (click)="idioma = 'es'" class="btn btn-primary"> Español </button>&nbsp;
          <button (click)="idioma ='en'" class="btn btn-secondary"> Inglés </button>&nbsp;
          <button (click)="idioma ='fr'" class="btn btn-success"> Francés </button>
        </td>
        <td> {{ fecha | date: 'MMMM - dd - y': '': idioma }} </td>
      </tr>

      <tr>
        <td> {{ nombre }} </td>
        <td>
          contrasena: {{activar}}
          <br>
          <div (click)="activar = !activar" class="btn btn-primary"> Activar/ Desactivar </div>
        </td>
        <td> {{ nombre | password: activar  }} </td>
      </tr>

      </tbody>

    </table>


    <h4> Slice <small>:5:20</small></h4>
    <ul>
      <li *ngFor="let item of array | slice:5:20"> {{ item }} </li>
    </ul>

    <hr/>

    <h4> JSON </h4>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>
          {{ persona | json }}
        </pre>
      </div>
    </div>

  </div>

</div>

<h3 class="mt-4">DOM Seguro</h3>
<hr>
<div class="row mb-5">
  <div class="col">
    <iframe
      width="560"
      height="315"
      [src]="videoUrl | domSeguro"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</div>
